//
   Created by Bharath on 9/5/15.

extends layout
block content
   div(class='page-header')
      div(class='btn-toolbar pull-right')
         a(href='/logout' class='btn btn-primary' ) Logout
   h1 Hello Admin #{sess.username}
      h3 The following are the responses of users who took the quiz

   - var keywords = "#{result}"

   each kw in result
      p= kw