//
   Created by Bharath on 9/5/15.

extends layout


block content

      h2(class = 'pull-left') Invalid Credentials..! Please Login again using a valid username and password
   .col-xs-4.col-sm-3
      a(href='/' align="cente") Go to Login
